/*
  Custom CSS overrides for Stuart's Notes blog.
*/

/* Default chocolate theme -- easier to change here rather than edit the theme class name in all the template tags. */
.theme-base-08 .sidebar,
.theme-base-08 .sidebar-toggle:active,
.theme-base-08 #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #202020;
}
.theme-base-08 .container a,
.theme-base-08 .sidebar-toggle,
.theme-base-08 .related-posts li a:hover {
  color: #202020;
}

.theme-base-08 .container a {
  color: #ac4142;
}

/* Expand width on hover (http://perishablepress.com/perfect-pre-tags/). */
pre {
  white-space: pre;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 800px;
  transition: width 400ms;
}
pre:hover {
  position: relative;
  width: 99999px;
  z-index: 99;
}

@media (min-width: 56rem) {
  .container {
    max-width: 42rem;
  }
}
@media print {
  .container {
    max-width: 42rem;
  }
}

.masthead {
  margin-bottom: 1rem;
}

img {
  display: inline;
  margin: 0 0 0;
  height: auto;
  width:auto;
  max-width: 100%;
}
