name: CI
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Update theme
        # (Optional)If you have the theme added as submodule, you can pull it and use the most updated version
        run: git submodule update --init --recursive

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.32"

      - name: Build
        # remove --minify tag if you do not need it (ahg: I removed it - was "run: hugo --minify")
        # docs: https://gohugo.io/hugo-pipes/minification/
        run: hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.TOKEN_FOR_BLOG }}
          # external_repository: wordbit/wordbit/tree/master/public (ahg: commenting out because I'm not using external repo)
          publish_dir: ./public
          #   keep_files: true
          user_name: wordbit
          user_email: wordbit@gmail.com
          publish_branch: gh-pages
          cname: wordbit.com
